* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/img/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 450px;
    margin: 2rem auto;
}

.btn {
    display: block;
    padding: 15px 0;
    border: none;
    border-radius: 50px;
    background: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
}

.newCandidate {
    list-style-type: none;
    text-align: center;
    margin: 2rem;
    font-size: 30px;
    font-weight: bold;
}

main {
    border: 1px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(203, 238, 7, 0);
    width: 600px;
    max-width: 600px;
    height: 435px;
    margin: 26vh auto;
    background-color: white;
    position: relative;
}

.candidates {
    padding-bottom: 30px;
    background-color: white;
}

#logo {
    position: absolute;
    display: block;
    height: 80px;
    width: 80px;
    right: 40px;
    bottom: -10px;
}
